html,body{
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
    text-align:center;
    font-family:Helvetica,Tahoma;
    color:#333333;
    background:#fff;
    outline:none;
    position:relative;
    font-size:14px;
}
html * {
    max-height:1000000px;
}
a{
    color:#4078c0;
    text-decoration:none;
}
    a:hover{
        color:red;
    }

.chat{
    position:relative;
    margin:10px auto;
    width:700px;
}
    .chat_inner{
        position:relative;
        float:left;
    }
        .chat .title{
            position:relative;
            float:left;
            width:100%;
            text-align:left;
            font-weight:bold;
            font-size:18px;
            padding:10px;
        }
        .chat_main{
            position:relative;
            float:left;
            width:100%;
        }
            .chat .messages{
                position:relative;
                float:left;
                width:70%;
                height:400px;
                box-sizing: border-box;
                border:1px solid #ccc;
                border-radius:10px;
                padding:0 20px 20px 20px;
                overflow-y:auto;
            }
                .messages_inner{
                    position:relative;
                    float:left;
                    width:100%;
                }
                    .messages_item{
                        position:relative;
                        float:left;
                        width:100%;
                        margin-top:20px;
                        text-align:left;
                    }
                        .message_title{
                            position:relative;
                            float:left;
                            width:100%;
                            font-size:14px;
                            padding-bottom:5px;
                        }
                            .message_title span{
                                font-size:14px;
                            }
                            .message_title b.selected{
                               color:green;
                            }
                            .message_title i{
                                font-style:normal;
                            }
                                .message_title i.selected{
                                    color:green;
                                    font-weight:bold;
                                }
                        .message_text{
                            
                        }
            .chat .users{
                position:relative;
                float:left;
                width:20%;
            }
                .chat .users_inner{
                    position:relative;
                    float:left;
                    width:100%;
                    box-sizing: border-box;
                    border:1px solid #ccc;
                    border-radius:10px;
                    margin-left:20px;
                    padding:20px;
                }
                    .users_title{
                        position:relative;
                        float:left;
                        font-weight:bold;
                        text-align:left;
                        width:100%;
                    }
                    .users_list{
                        position:relative;
                        float:left;
                        margin-top:10px;
                    }
                        .users ul{
                            position:relative;
                            float:left;
                            margin:0;
                            padding:0;
                        }
                            .users ul li{
                                position:relative;
                                float:left;
                                width:100%;
                                list-style-type: none;
                                text-align:left;
                                cursor:pointer;
                                padding-top:10px;
                            }
                                .users ul li.youself{
                                    color:green;
                                }
                                .users ul li.selected{
                                    color:red;
                                }
                    .chat .users_links{
                        position:relative;
                        float:left;
                        width:100%;
                        padding:20px;
                        text-align:left;
                    }
        .chat .form{
            position:relative;
            float:left;
            width:70%;
            box-sizing: border-box;
            border:1px solid #ccc;
            border-radius:10px;
            padding:20px;
            margin-top:20px;
        }
            .chat .form_title{
                position:relative;
                float:left;
                margin-bottom:10px;
                text-align:left;
            }
                .chat .form_title b{
                    color:green;
                }
                .chat .form_title i{
                    color:red;
                    font-style:normal;
                }
                .chat .form textarea{
                    position:relative;
                    float:left;
                    width:100%;
                    height:70px;
                    padding:10px;
                    box-sizing: border-box;
                }
                .chat .form input[type=submit]{
                    position:relative;
                    float:left;
                    margin-top:10px;
                    width:100px;
                }

.login{
    position:relative;
    margin:0 auto;
    width:400px;
    margin-top:10%;
}
    .login_inner{
        position:relative;
        float:left;
        width:100%;
        padding:20px;
        box-sizing: border-box;
        border:1px solid #ccc;
        border-radius:10px;
    }
        .login .title{
            position:relative;
            float:left;
            width:100%;
            padding:10px;
            font-size:18px;
            font-weight:bold;
        }
        .login form div{
            position:relative;
            float:left;
            width:100%;
            margin-top:10px;
        }
            .login form div label{
                position:relative;
                float:left;
                width:150px;
                text-align:right;
                margin-top:3px;
            }
            .login form div input[type=text], .login form div input[type=password]{
                position:relative;
                float:left;
                width:150px;
                margin-left:10px;
            }
            .login form div input[type=submit]{
                position:relative;
                float:left;
                margin-left:160px;
                width:100px;
            }
        .login .error{
            position:relative;
            float:left;
            width:100%;
            text-align:center;
            color:red;
            padding-top:20px;
        }
            .login .ok{
                color:green;
            }
        .login .link{
            position:relative;
            float:left;
            width:100%;
            text-align:center;
            padding-top:20px;
            font-size:14px;
        }
