{% extends "base.html" %}
{% block main %}
<script src="{{ static_url("js/angular.js") }}"></script>
<script src="{{ static_url("js/angular-websocket.min.js") }}"></script>
<script type="text/javascript" src="{{ static_url("js/main.js") }}"></script>
<div ng-app="chatApp">
    <div class="chat" ng-controller="ChatCtrl">
        <div class="chat_main" >
            <div class="messages">
                <div class="messages_inner" ng-repeat="message in messages | orderBy: 'time'">
                    <div class="messages_item">
                        <b>[[ users[message.from].name ]]</b>
                        <i>[[ message.date | utcToLocal : 'HH:mm:ss' ]]</i>
                        <span>[[ message.text ]]</span>
                    </div>
                </div>
            </div>
            <div class="users">
                <div class="users_title">Users</div>
                <div class="users_list">
                    <ul>
                        <li ng-repeat="user in users" 
                            ng-click="select_user_to(user.login)" 
                            ng-class="users_to.indexOf(user.login) != -1 ? 'selected' : ''">
                            [[ user.name ]]
                        </li>
                        <li ng-click="select_user_to('all')" 
                            ng-class="users_to.length == 0 ? 'selected' : ''">
                            All
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="form">
            <div class="form_title">
                <b>[[ profile.name ]]</b> >> 
                <span>
                    <i  ng-repeat="login in users_to" 
                        ng-show="users_to.length">
                        [[ users[login].name ]]&nbsp;
                    </i>
                    <i ng-show="users_to.length == 0">All</i>
                </span>
            </div>
            <form ng-submit="send()">
                <textarea ng-model="form_text" name="form_text" placeholder="Enter your message"></textarea>
                <input type="submit" value="Send!"/>
            </form>
        </div>
    </div>
</div>
{% end %}