{% extends "base.html" %}
{% block main %}
<div class="login">
    <form action="{{ reverse_url('reg') }}" method="post" id="login_form">
        {% module xsrf_form_html() %}
        <div>
            <label for="login">Username</label>
            <input id="login" name="login" type="text" value="">
        </div>
        <div>
            <label for="name">Name</label>
            <input id="name" name="name" type="text" value="">
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" name="password" type="password" value="">
        </div>
        <div id="form_btn">
            <input type="submit" value="Sign Up">
        </div>
    </form>
    <div>{{ error }}</div>
</div>
{% end %}